 body {
        background: rgb(0,0,0);
    }

    /*----- h2 ------------*/
        

         h2 {
            font-weight:400;
            font-size:0.7em;
            text-transform:uppercase;
            letter-spacing:0.3em;
            padding:17px 20px;
            opacity:0.4;
             float:left;
             }

        h2 a {
            color:white;
             text-decoration:none;
        }

 /*----- ace ------------*/

    .ace_editor {
        position: relative !important;
        border: 0px solid lightgray;
        margin: auto;
        height:93vh;
        width: 88%;
        bottom:0;
        position:absolute;
        margin-left:12%;
        top:70px;
    }


    /*----- sidebar ------------*/


    .sidebar {
        width:12%;
        min-width:150px;
        height:100vh;
        background:rgb(45,45,45);
        position:fixed;
        float:left;
        font-family:'Roboto', Helvetica, Arial;
        font-weight:400;
        color:white;
        top:70px;
    }


    a h2 {
         color:white;
         text-decoration:none;
    }


    .log-out {
        position:absolute;
        bottom:65px;
        height:35px;
        background:rgb(45,45,45);
        width:100%;
        padding:0px 0px 15px 0px;
    }

        .log-out:hover {
            background:rgb(25,25,25);
        }


 /*----- ul lists in sidebar ------------*/
      

       ul {
            clear:both;
        }


    ul li a {
        display:inline-block;
        font-size:0.85em;
        padding:10px 20px;
        list-style:none;
        width:100%;
    }

         ul ul {
                list-style:none;
                padding-top:5px;
            }

                ul ul li a {
                    display:inline-block;
                    padding:10px 20px;
                    margin-left:10%;
                    width:90%;
                }

                ul ul ul li a {
                    display:inline-block;
                    padding:10px 20px;
                    margin-left:20%;
                    width:80%;
                }

         ul li a {
            color:white;
            text-decoration:none;
         }
         ul li a.active {
            background:#232323;
         }
           
           ul li a:hover {
            background:rgb(145,145,145);
         }



/*----- actually the top bar ------------*/


    .bottombar {
        height:70px;
        position:fixed;
        width:100%;
        top:0;
        background:#26606b;
        z-index:230;
        border-bottom: 4px solid rgba(0, 0, 0, .5);
    }

/*----- Logo ------------*/

    .logo {
        width:120px;
        padding:5px 15px;
        float:left;
    }
        .logo img {
            width:100%;
        }

/*----- Update status ------------*/


    .update p{
        float:right;
         position:absolute;
        top:38%;    
        font-family:'Roboto', Helvetica, Arial;
        font-weight:300;
        color:white;   
        font-size:0.9em;
        opacity:0.5;
        letter-spacing:0.05em;
       right:430px;
         }


/*----- run/commit menu ------------*/


    .run-button, .commit-button {
        position:absolute;
        right:200px;
        top:0%;
        background:rgba(0,0,0,0.2);
        height:70px;
        width:200px;
        color:black;
        font-family:'Roboto', Helvetica, Arial;
    }
        .commit-button {
            right:0px;
        background:rgba(0,0,0,0.4);
        }

        .run-button:hover {
            background:#189F4D;
        }

        .commit-button:hover {
            background:#D89A3C;
        }

    .run-button p, .commit-button p {
        position:absolute;
        margin-top:14%;
        text-align:center;
        width:100%;
        float:left;
        font-size:0.9em;
        text-transform:uppercase;
        letter-spacing:0.3em;
        color:white;
        font-weight:600;
   }

        .run-button img {
            width:10px;
            padding:0px;
            margin-top:2px;
            margin-left:10px;
        }


/*----- Add files button ------------*/


             .add-files {
                text-align:right;
                width:100%;       
                 padding-top:15px;

            }

             .add-files a.plus {
                color:white;
                text-decoration:none;
                opacity:0.5;
                padding:10px 20px;
             }

/*----- Add menu ------------*/

    .add-menu {
        display:none;
    }
    .add-files:hover .add-menu{
            display:block;
            width:100%;
            z-index:33092;
            background:rgb(40,40,40);
            border:2px 0px 2px 0px solid black;
            text-align:left;
            margin:10px 0px;
            width:100%;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;       

        }
            .add-menu a {
                   color: rgb(145,145,145);
            }

            .add-menu a:hover {
                   color: white;
            background:#189F4D;
            }


