 body {
        background: rgb(0,0,0);
    }

div.console-output {
    width:70% !important;
    word-break: break-word !important;
    font-size: 12px !important;
    font-family: Monaco !important;
    height: 100% !important;
    overflow: scroll !important;
}

    /*----- h2 ------------*/
        

         h2 {
            font-weight:400;
            font-size:0.8em;
            text-transform:uppercase;
            letter-spacing:0.3em;
            padding:23px 20px;
            opacity:0.4;
             float:left;
             }

        h2 a {
            color:white;
             text-decoration:none;
        }

 /*----- ace ------------*/

    .ace_editor {
        position: relative !important;
        border: 0px solid lightgray;
        margin: auto;
        bottom:0px;
        position:absolute;
        margin-left:300px;
        top:70px;
        /*height:calc(100vh - 70px);*/
        /*height:93vh;*/        
        height:93vh;
        bottom: 0;
    }

    .superbad {
        height:calc(100vh - 70px);
    }

    /*----- sidebar ------------*/


    .sidebar {
        width:300px;
        height:100vh;
        background:rgb(45,45,45);
        float:left;
        font-family:'Roboto', Helvetica, Arial;
        font-weight:400;
        color:white;
        position: fixed;
        overflow-y: scroll;
        top: 70px;
        bottom: 0;
    }

    #repos {
        margin-bottom: 50%;
    }

    a h2 {
         color:white;
         text-decoration:none;
         position:fixed;
    }


    .log-out {
        position:fixed;
        bottom:0px;
        height:35px;
        background:rgb(45,45,45);
        width:300px;
        border-top:5px solid rgba(0,0,0,0.5);
        padding:0px 0px 20px 0px;
    }

        .log-out:hover {
            background:rgb(25,25,25);
        }


 /*----- ul lists in sidebar ------------*/
      

       ul {
            clear:both;
        }


    ul li a {
        display:inline-block;
        font-size:1em;
        padding:10px 20px;
        list-style:none;
        width:100%;
        width:calc(100% - 40px);
    }

         ul ul {
                list-style:none;
                padding-top:5px;
            }

                ul ul li a {
                    display:inline-block;
                    padding:10px 20px;
                    margin-left:10%;
                    width:80%;
                    width: calc(90% - 40px);
                }

                ul ul ul li a {
                    display:inline-block;
                    padding:10px 20px;
                    margin-left:20%;
                    width:80%;
                    width: calc(80% - 40px);
                }

         ul li a {
            color:white;
            text-decoration:none;
         }
         ul li a.active {
            background:#232323;
         }
           
           .no-touch ul li a:hover {
            background:rgb(145,145,145);
         }



/*----- actually the top bar ------------*/


    .bottombar {
        height:70px;
        position:fixed;
        width:100%;
        top:0;
        background:#26606b;
        z-index:230;
        border-bottom: 4px solid rgba(0, 0, 0, .5);
    }

/*----- Logo ------------*/

    .logo {
        width:60px;
        padding:20px 20px;
        float:left;
    }
        .logo img {
            width:100%;
        }

/*----- Update status ------------*/


    .update p{
        float:right;
         position:absolute;
        top:38%;    
        font-family:'Roboto', Helvetica, Arial;
        font-weight:400;
        color:white;   
        font-size:1em;
        opacity:0.5;
        letter-spacing:0.05em;
       right:430px;
         }


/*----- run/commit menu ------------*/
    .run-button, .commit-button {
        position:absolute;
        right:200px;
        top:0%;
        background:rgba(0,0,0,0.2);
        height:70px;
        width:200px;
        color:black;
        font-family:'Roboto', Helvetica, Arial;
    }
        .commit-button {
            right:0px;
        background:rgba(0,0,0,0.4);
        }

        .no-touch .run-button:hover {
            background:#189F4D;
            cursor:pointer;
        }

        .run-active {
            background:#189F4D;
        }

        .build-fail {
            background:#C63B19;
        }

        .no-touch .build-fail:hover {
            background:#C63B19;
        }


        .commit-button:hover {
            background:#D89A3C;
            cursor:pointer;
        }

    .run-button p, .commit-button p {
        position:absolute;
        margin-top:14%;
        text-align:center;
        width:100%;
        float:left;
        font-size:0.9em;
        text-transform:uppercase;
        letter-spacing:0.3em;
        color:white;
        font-weight:600;
   }

        .run-button img {
            width:10px;
            padding:0px;
            margin-top:2px;
            margin-left:10px;
        }




/*----- Add files button ------------*/


             .add-files {
                text-align:right;
                width:100%;       
                 padding-top:15px;
                 font-size:23px;

            }

             .add-files a.plus {
                color:white;
                text-decoration:none;
                opacity:0.5;
                padding:10px 30px;
                }             

                .add-files a.plus:hover {
                    background:#189F4D;
                    color:white;
                    opacity:1;
                }

/*----- Add menu ------------*/

    .add-menu {
        display:none;
    }
    .add-files:hover .add-menu{
            display:block;
            width:100%;
            z-index:33092;
            background:rgb(40,40,40);
            border:2px 0px 2px 0px solid black;
            text-align:left;
            margin:10px 0px;
            width:100%;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;       

        }
            .add-menu a {
                   color: rgb(145,145,145);
            }

            .add-menu a:hover {
                   color: white;
            background:#189F4D;
            }

            .delete-repo {
                display:none;
                float: right;
                color: black;
                padding:0px 4px;
            }

            li:hover .delete-repo {
                display:inline;
            }
                .delete-repo:hover {
                     color: #C63B19;
                }

    #iphone {
        width: 377px;
       z-index: 300;
       position: absolute;
       bottom: -92px;
       right: 5px;
    }
            #simulator {
              width: 320px;
              height: 480px;
              z-index: 200;
              position: absolute;
              bottom: 25px;
              right: 30px;
            }

            #dismiss {
              width:30px;
              right:28px;
              bottom:570px;
              position:absolute;
              z-index:400;
              /*display:none;*/
            }

            #dismiss:hover {
              cursor:pointer;
            }

        .fadeInRight {
              -webkit-animation-name: fadeInRight;
                      animation-name: fadeInRight;
            }

            @-webkit-keyframes fadeInRightBig {
              0% {
                opacity: 0;
                -webkit-transform: translate3d(2000px, 0, 0);
                        transform: translate3d(2000px, 0, 0);
              }

              100% {
                opacity: 1;
                -webkit-transform: none;
                        transform: none;
              }
            }

            @keyframes fadeInRightBig {
              0% {
                opacity: 0;
                -webkit-transform: translate3d(2000px, 0, 0);
                        transform: translate3d(2000px, 0, 0);
              }

              100% {
                opacity: 1;
                -webkit-transform: none;
                        transform: none;
              }
            }


